.form-slider__wrapper {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.form-slider {
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  color: white;
  text-align: center;
}

.form-slider__slide {
  // height: 100%;
}

@for $i from 1 through 4 {
  .form-slider__radio:checked:nth-child(#{$i}) ~ .form-slider {
    left: -600px * ($i - 1);
  }
}
